<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Maps Example</title>
  <style>
    #map {
      height: 400px;
      width: calc(100% - 300px);
      padding-right: 30px;
      margin: 25px auto; /* Center the map horizontally */
      display: block; /* Set display property to block to center the map */

    }
    #button-column {
      display: flex;
      flex-direction: column;
      width: 10%;
      float: left;
      padding: 25px 10px;
      box-sizing: border-box;
    }
    #controls > div {
      margin-bottom: 20px;
    }
    button {
      padding: 10px;
      border-radius: 5px;
      border: none;
      background-color: #0077cc;
      color: #fff;
      font-size: 16px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    button:hover {
      background-color: #005ea8;
    }
  </style>
  <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4twqZA-AhOLxsZiKICQgST-pzMfTcxgA&callback=initMap">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <div id="map"></div>
  <div>
    <label for="origin">Origin:</label>
    <input type="text" id="origin" name="origin">
    <label for="destination">Destination:</label>
    <input type="text" id="destination" name="destination">
    <button onclick="calculateRoutes()">Calculate Routes</button>
  </div>
  <div>
    <h3>Car Information</h3>
    <label for="fuel-efficiency">Fuel Efficiency for Car(mpg):</label>
    <input type="number" id="fuel-efficiency" name="fuel-efficiency" step="0.1">
    <br>
    <label for="fuel-type">Fuel Type for Car:</label>
    <select id="fuel-type" name="fuel-type">
      <option value="gas">Gas</option>
      <option value="diesel">Diesel</option>
    </select>
  </div>
  <div>
    <button onclick="showRoute(google.maps.TravelMode.DRIVING)">Driving</button>
    <button onclick="showRoute(google.maps.TravelMode.TRANSIT)">Public Transport</button>
    <button onclick="showRoute(google.maps.TravelMode.BICYCLING)">Biking</button>
    <button onclick="showRoute(google.maps.TravelMode.WALKING)">Walking</button>
  </div>
  <div>
    <span>Distance: <span id="distance"></span></span>
    <br>
    <span>Emissions: <span id="emissions"></span></span>
  </div>
  <div>
    <h3>CO2 Emissions Comparison</h3>
    <canvas id="emissionsChart"></canvas>
  </div>
    <script>
    function initMap() {
      const mapOptions = {
        center: { lat: 38.0456849, lng: -78.5031093 },
        zoom: 15,
      };
      const map = new google.maps.Map(document.getElementById("map"), mapOptions);
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map);
    }

    function showRoute(travelMode) {
      const route = calculatedRoutes[travelMode];
      if (route) {
        directionsRenderer.setDirections(route.result);
        const distance = route.distance;
        let emissions;

        if (travelMode === google.maps.TravelMode.DRIVING) {
          emissions = calculateCarbonEmissionsForCar(distance);
        } else if (travelMode === google.maps.TravelMode.TRANSIT) {
          emissions = calculateCarbonEmissionsForPublicTransport(distance);
        } else if (travelMode === google.maps.TravelMode.BICYCLING) {
          emissions = calculateCarbonEmissionsForBiking(distance);
        } else if (travelMode === google.maps.TravelMode.WALKING) {
          emissions = calculateCarbonEmissionsForWalking(distance);
        }

        document.getElementById("distance").textContent = distance;
        document.getElementById("emissions").textContent = emissions;

        createEmissionsChart(emissions);
      }
    }


    function calculateRoutes() {
      const origin = document.getElementById("origin").value;
      const destination = document.getElementById("destination").value;
      if (!origin || !destination) {
        alert("Please select an origin and destination.");
        return;
      }
      const travelModes = [
        google.maps.TravelMode.DRIVING,
        google.maps.TravelMode.TRANSIT,
        google.maps.TravelMode.BICYCLING,
        google.maps.TravelMode.WALKING,
      ];
      travelModes.forEach((mode) => {
        calculateRouteForMode(origin, destination, mode);
      });
      showRoute(google.maps.TravelMode.DRIVING); // Show driving route by default
    }
    const calculatedRoutes = {};
    function calculateRouteForMode(origin, destination, travelMode) {
      const request = {
        origin: origin,
        destination: destination,
        travelMode: travelMode,
      };
      directionsService.route(request, (result, status) => {
        if (status === google.maps.DirectionsStatus.OK) {
          console.log(`Route for ${travelMode}:`, result);
          // Store the calculated route and distance in the calculatedRoutes object
          calculatedRoutes[travelMode] = {
            result: result,
            distance: result.routes[0].legs[0].distance.value, // store the distance in meters
          };
        } else {
          console.error(`Error getting directions for ${travelMode}:`, status);
        }
      });
    }

    function calculateCarbonEmissionsForCar(distance) {
      const distanceInMiles = distance * 0.000621371; // Convert distance from meters to miles

      const fuelEfficiency = parseFloat(document.getElementById("fuel-efficiency").value);
      const fuelType = document.getElementById("fuel-type").value;

      let co2EmissionsPerGallon = 0;

      if (fuelType === "gas") {
        co2EmissionsPerGallon = 8887; // grams CO2 per gallon for gasoline
      } else if (fuelType === "diesel") {
        co2EmissionsPerGallon = 10180; // grams CO2 per gallon for diesel
      }

      const gallonsConsumed = distanceInMiles / fuelEfficiency;
      const emissionsInGrams = gallonsConsumed * co2EmissionsPerGallon;

      return emissionsInGrams;
    }

    function calculateCarbonEmissionsForPublicTransport(distance) {
      const distanceInMiles = distance * 0.000621371;
      const averageEmissionsPerMile = 84.5783;
      const emissionsInGrams = distanceInMiles * averageEmissionsPerMile;

      return emissionsInGrams;
    }

    function calculateCarbonEmissionsForBiking(distance) {
      const distanceInMiles = distance * 0.000621371;
      const emissionsPerMile = 0.017 / 2;
      const emissionsInKilograms = distanceInMiles * emissionsPerMile;

      return emissionsInKilograms * 1000;
    }

    function calculateCarbonEmissionsForWalking(distance) {
      const distanceInMiles = distance * 0.000621371; // Convert distance from meters to miles
      const emissionsPerMile = 0.039 / 2; // 0.039 kg CO2 for 2 miles
      const emissionsInKilograms = distanceInMiles * emissionsPerMile;
      return emissionsInKilograms * 1000; // Convert kilograms to grams
    }
    let emissionsChart;
    function createEmissionsChart(tripEmissions) {
      const ctx = document.getElementById('emissionsChart').getContext('2d');
      // Destroy the previous chart instance if it exists
      if (emissionsChart) {
        emissionsChart.destroy();
      }
      const dailyAllowedEmissions = 4000;
      const chartData = {
        labels: ['Daily Allowed', 'Trip Emissions'],
        datasets: [{
          label: 'CO2 Emissions (grams)',
          data: [dailyAllowedEmissions, tripEmissions],
          backgroundColor: [
            'rgba(75, 192, 192, 0.2)',
            'rgba(255, 99, 132, 0.2)',
          ],
          borderColor: [
            'rgba(75, 192, 192, 1)',
            'rgba(255, 99, 132, 1)',
          ],
          borderWidth: 1,
        }]
      };
      const chartOptions = {
        scales: {
          y: {
            beginAtZero: true,
          }
        },
      };
      emissionsChart = new Chart(ctx, { // Store the chart instance in the global variable
        type: 'bar',
        data: chartData,
        options: chartOptions,
      });
    }
  </script>
</body>

<div id = "results">
  <span>Distance: <span id="distance"></span></span>
  <br>
  <span>Emissions: <span id="emissions"></span></span>
</div>
<style>
  #results{
    text-align: center;
  }
</style>

</html>
